@tailwind base;
@tailwind components;
@tailwind utilities;

/*
body{
    background-color: lightblue !important;
}

*/
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
/*  background: whitesmoke !important;*/
    }
/*
    .box {
        width: 500px;
        background: #fafafa;
        border-radius: 12px;
        text-align: center;
        box-shadow: #ffff !important;
    
      }*/

    Button{

        background-color: rgb(0,0,102) !important;
    }
    
    

